@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


body{
  margin: 0;
  background-color: white;
}

.marginner {
  position: relative;
  margin: auto;
  max-width: 1925px;
}

*
{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#global-nav {
  width: 100%;
  height: 85px;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
}

#wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
}

.container
{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 6rem;
  justify-content: space-between;
  
}

.logo
{
  display: flex;
  padding: 0 1.5rem 0 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  img
  {
    max-width: 100px;
    max-height: 85px;
  }
}

.nav-table
{

  padding-left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  
  li
  {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    a
    {
      height: 100%;
      color: white;
      text-decoration: none;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 3px 12px;
      &:hover
      {
        border-bottom: 3px solid blue;
        padding-bottom: 0;
      }
    }
  }
}

.icons
{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  ul
  {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    li
    {
      display: flex;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: center;
      a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 3px 0.75rem;
        display: flex;
        text-align: center;
        align-items: center;
        &:hover
        {
          border-bottom: 3px solid blue;
          padding-bottom: 0;
        }
        i
        {
          display: flex;
          text-align: center;
          align-items: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          font-weight: 600;
          color: white;

        }
      }
    }
  }
}

#border-nav
{
  width: calc(100% - 12rem);
  height: 1px;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 2px;
  border-bottom: 2px solid white;
}


#main-body {
  width: 100%;
  position: relative;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 850px;
  max-height: 43vw;
  text-align: center;
  position: relative;
  background: url(pictures/cq5dam.resized.img.1680.large.time1669651502064.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.image-text
{

  color: white;
  margin-left: 6rem;

  top: 87px;
  position: absolute;
  width: fit-content;
  text-align: left;
  h4{
    font-weight: 100;
    margin-bottom: 0;
    width: 100%;
  }
  .spacing
  {
    letter-spacing: 1.5px;
    padding-left: 10px;
  }
  .nomargin
  {
    margin:0;
  }
  .the_new {
    margin-top: 70px;
  }
  .name
  {
    font-weight: 300;
    font-size: 12rem;
    line-height: 11rem;
  }
  .first_electric {
    padding-left: 55px;
    display: flex;
    align-items: center;
    letter-spacing: 0;
    &::before {
      content: '';
      position: absolute;
      left: 10px;
      background-image: url('pictures/BMW_i_100px.png.asset.1583221945801.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 40px;
      height: 17px;
    }
  }
  h1
  {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
  }
  .h2
  {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
  }

  .buttons
  {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    position: relative;
    height: max-content;
    .blue
    {
      background-color: #1c69d4;
      margin: 1px;
      &:hover
      {
        background-color: #1c69b4;
      }
    }
    .trans
    {
      color: white;
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      margin: 1px;
      &:hover
      {
        margin: 2px;
        border-radius: 0px;
        border: 0px solid white;
      }
    }
    .button
    {
      border-radius: 4px;
      min-height: 100%;
      display: flex;
      align-items: center;
      max-width: 100px;
      padding: 0.5rem 2rem;
      color: white;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
    }
  }
}


.discover_context
{
  text-decoration: none ;
  width: 100%;
  margin: auto;
  max-width: 80%;
  .center {
    text-align: center;
  }
  .textak
  {
    text-decoration: none;
    margin-top: 65px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem;
    color: #666;
    font-size: 15px;

    h2
    {
      color: black;
      font-weight: 100;
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 48px;
    }
    
  }
  .vozy
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .item {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        max-width: 400px;
      }
      p {
        margin: 0;
        font-size: 20px;
      }
      a {
        text-decoration: none;
        margin-top: 40px;
        padding: 0.9rem 0.5rem;
        width: 140px;
        text-align: center;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 17px;
        font-weight: bold;
        color: black;
        &:hover
        {
          border: 1px solid white;
          border-radius: 3px;
        }
      }
    }
  }
}

.new_i5 {
  width: 100%;
  height: 35vw;
  max-height: 670px;
  background-image: url(pictures/5-series-touring-g61-home-stage-teaser_3to1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 8.5rem;
    .the_new {
      margin-top: 80px;
      margin-bottom: 0;
      color: white;
      letter-spacing: 2px;
      font-weight: bold;
    }
    h1 {
      margin: 0;
      font-size: 12rem;
      color: white;
      font-weight: 500;
    }
    .new_user {
      margin: 0;
      margin-top: -10px;
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    a {
      text-decoration: none;
      margin-top: 25px;
      margin-bottom: 125px;
      padding: 0.9rem 8.2rem;
      width: 140px;
      text-align: center;
      border: 1px solid white;
      border-radius: 3px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      &:hover
      {
        border: 1px solid black;
        border-radius: 3px;
      }
    }
  }
}

.bmw_stocklocator {
  width: 100%;
  height: 40vw;
  max-height: 775px;
  background-image: url(pictures/DI21_0000291351.webp);
  background-size: contain;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    flex-direction: column;

    padding-left: 8.5rem;
    .stocklocator {
      margin-top: 20px;
      margin-bottom: 0;
      color: white;
      letter-spacing: 2px;
      font-weight: bold;
    }
    h1 {
      margin: 0;
      font-size: 4rem;
      width: 50vw;
      min-width: 400px;
      color: white;
      font-weight: 200;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    a {
      text-decoration: none;
      margin-bottom: 60px;
      padding: 0.9rem 2rem;
      max-width: max-content;
      text-align: center;
      border-radius: 3px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      background-color: #1c69d4;
      margin: 1px;
      &:hover
      {
        background-color: #1c69b4;
      }
    }
  }
}

.disclaimer {
  width: 100%;
  position: relative;
  margin-top: 10px;
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 8.5rem;
    letter-spacing: -0px;
    font-size: 13px;
    margin-bottom: 10px;
    width: calc(100% - 17.0rem);
    p {
      margin: 0;
    }

    a {
      color: black;
      font-weight: bold;
    }
  }
}


.new_i5_2 {
  width: 100%;
  height: 670px;
  max-height: 670px;
  background-image: url(pictures/g60_bev_home-stage_dsk_sl_de-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5rem;
    .the_new_2 {
      margin-top: 80px;
      margin-bottom: 0;
      color: white;
      letter-spacing: 2px;
      font-weight: bold;
    }
    h1 {
      margin: 0;
      font-size: 12rem;
      color: white;
      font-weight: 500;
    }
    .spacing
    {
      letter-spacing: 1.5px;
    }
    .nomargin
    {
      margin:0;
      max-width: 50%;
    }

    .rich {
      display: flex;
      align-items: center;
      letter-spacing: 0;
      &::before {
        content: '';
        position: relative;
        background-image: url('pictures/BMW_i_100px.png.asset.1583221945801.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 17px;
      }
    }

    .h2
    {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 200;
      color: white;
    }
    .buttons
  {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    position: relative;
    height: max-content;
    .blue
    {
      background-color: #1c69d4;
      margin: 1px;
      &:hover
      {
        background-color: #1c69b4;
      }
    }
    .trans
    {
      color: white;
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      margin: 1px;
      &:hover
      {
        margin: 2px;
        border-radius: 0px;
        border: 0px solid white;
      }
    }
    .button
    {
      border-radius: 4px;
      min-height: 100%;
      display: flex;
      align-items: center;
      max-width: 100px;
      padding: 0.5rem 2rem;
      color: white;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
    }
  }
  }
}

.radost
{
  width: 100%;
  height: 40vw;
  max-height: 775px;
  background-image: url(pictures/BMW3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5rem;
  }

  .radost_2 {
    margin-bottom: 0;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .h1 {
    margin: 0;
    font-size: 4rem;
    color: white;
    font-weight: 100;
    max-width: 50%;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 125px;
    padding: 0.9rem 8.2rem;
    width: 140px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    &:hover
    {
      border: 0px solid black;
      border-radius: 3px;
    }
  }
}

.elektro
{
  width: 100%;
  height: 40vw;
  max-height: 670px;
  background-image: url(pictures/BEV-Range_v2-0-new.webp);
  background-size: contain;
  background-repeat: no-repeat;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8.5rem;
  }
  .elektromonibila {
    margin-bottom: 0;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .h1 {
    margin: 0;
    font-size: 4rem;
    color: white;
    max-width: 50%;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 125px;
    padding: 0.9rem 8.2rem;
    width: 140px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    &:hover
    {
      border: 0px solid black;
      border-radius: 3px;
    }
  }
}


.almost_end
{
  width: 100%;
  height: 40vw;
  max-height: 550px;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 6rem;
    max-height: 550px;
  }
  .img
  {
    width: 50%;
    height: 40vw;
    max-height: 100%;
    background-image: url(pictures/di22-000095417.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .informations
  {
    width: 50%;
    margin-left: 20px;
    max-height: 100%;
  }
  .servis {
    margin-bottom: 0;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 10%;
  }

  .RELAX {
    margin: 0;
    margin-bottom: 20px;
    font-size: 4rem;
    color: black;
    margin-top: 10px;
  }

  .others
  {
    color: black;
    margin: 0;
  }

  .hesh
  {
    color: black;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 125px;
    padding: 0.9rem 6rem;
    width: 140px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    &:hover
    {
      border: 1px solid white;
      border-radius: 3px;
    }
  }
  .line
{
  width: 100%;
  height: 1px;
  border: 1px solid gray;

}
}

.nabidka
{
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
  align-items: center;
  margin: 2rem 0;
  .nab
  {
    font-size: .625rem;
    letter-spacing: 2px;
    margin-right: 2rem;
  }
  a
  {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    &:hover
    {
      color: blue;
    }
  }
}

footer
{
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: #f2f2f2;
  padding-left: 6rem;
  padding-right: 6rem;
  .content
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    a
    {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.25rem;
      &:hover
      {
        color: blue;
      }
    }
    h5
    {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.25rem;
      margin-bottom: 0;
    }
  }
}
